.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-wrapper {
  max-width: 600px;
  margin:20px auto;
  padding: 0 20px
}

.image__name {
  padding: 0 70px;
  margin: 10px;
  text-align: center;
  display: inline-block;
}

.header {
  overflow: hidden;
  background-color: #dddddd;
  padding: 20px 10px;
}

.header h1 {
  color: black;
  text-align: center;
  padding: 12pxx;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

header h1.header__logo {
  font-size: 25px;
  font-weight: bold;
}